
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
  }

.contenedor-principal{
    display: flex;
}

.contactos{
    width: 20%;
    border-right: solid 3px #E8EBE4;
    
}

.seccion01{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #E8EBE4; /* Borde inferior azul de 3px de grosor */
}

.mi-perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9.5vh;
    
}

.imagen-persona{
    width: 3.5rem; 
    height: 3.5rem; 
    border-radius: 50%;
    overflow: hidden; 
    padding: 0 1.5rem;
}

.nuevo-chat{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 9.5vh;
    border-top: 3px solid #E8EBE4; /* Borde superior rojo de 3px de grosor */
    
}
.boton-nuevo-chat{
    background-color: #A491D2; /* Color de fondo azul */
      color: white; /* Color del texto blanco */
      width: 12.5rem; /* Ancho de 200px */
      height: 4rem; /* Altura de 50px */
      padding: 10px 20px; /* Padding de 10px arriba y abajo, 20px a los lados */
      border: none; /* Elimina el borde por defecto */
      cursor: pointer; /* Cambia el cursor a una mano al pasar por encima */
}

.hands-net{
    height: 25vh;
    width: 25vh;
}


.pantalla-mensajeria{
    width: 80%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


p{
    margin-top: 0.2em; /* Ajusta el margen superior */
    margin-bottom: 0.2em; /* Ajusta el margen inferior */
}

.iconos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding-right: 3rem;
}

.nombre-persona{
    font-size: larger;
    font-weight: bolder;
}

.mi-estado{
    font-size: medium;
    font-weight: lighter;
}

.mensaje{
    font-size: large;

}

.texto-superior{
    font-size: 60px;
}

.texto-medio{
    font-size: 20px;
}