.contenedor-principal{
    display: flex;
}

.contactos{
    height: 100vh;
    width: 20%;
    border: solid 1px red;
}

.mi-perfil{
    display: flex;
    justify-content: flex-start;
    height: 9.5vh;
}

.imagen-persona{
    width: 5.5rem; 
    height: 5.5rem; 
    border-radius: 50%;
    overflow: hidden; 
    padding: 0 1.5rem;
}

.nuevo-chat{
    height: 14.5vh;
}

.contacto{
    display: flex;
    justify-content: flex-start;
    height: 9.5vh;
}